<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulário de cadastro</title>
</head>
<body>
  <form method="POST" action="/" >
    <label for=""><%- errInfo %> </label><br>
    <input type="text" name="name" id="name" placeholder="name" value="<%= permDataError[0] %>"  ><br>
    <input type="email" name="email" id="email" placeholder="email" value="<%= permDataError[1] %>"><br>
    <input type="password" name="password" id="password" placeholder="password" value="<%= permDataError[2] %>"><br>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>